# EditorConfig for Java Projects
# https://editorconfig.org

# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Java source files
[*.java]
indent_style = space
indent_size = 2
max_line_length = 100
continuation_indent_size = 2

# XML files (pom.xml, build files, config)
[*.xml]
indent_style = space
indent_size = 2

# Properties files
[*.properties]
indent_style = space
indent_size = 4

# YAML files (application.yml, config files)
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# Gradle files
[*.gradle]
indent_style = space
indent_size = 4

[*.gradle.kts]
indent_style = space
indent_size = 4

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2
end_of_line = lf

# Batch files
[*.{bat,cmd}]
end_of_line = crlf